<img src="/assets/Animated_all/pink/pink_5_tire/frame_01.jpg" width="100%" height="560"
      class="reel"
      id="image"
      data-images="/assets/Animated_all/pink/pink_5_tire/frame_##.jpg"
      data-frames="36"
      data-loops="false"
      data-speed="0.35"
      data-cursor="hand"
      data-responsive="true"
      data-cursor="/assets/wallet.svg"
>
<div class="w-section whole_menu_section">
    <div class="w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="w-tab-content">
            <div class="w-tab-pane lak" data-w-tab="Tab 1">
                <div class="w-container image_container chassis_container">
                    <img class="rounded black" src="/assets/black.jpg" data-price="1000" data-color="black">
                    <img class="rounded blue" src="/assets/blue.jpg" data-price="2000" data-color="blue">
                    <img class="rounded brown" src="/assets/brown.jpg" data-price="3000" data-color="brown">
                    <img class="rounded wood" src="/assets/green.jpg" data-price="4000" data-color="green">
                    <img class="rounded pink" src="/assets/pink.jpg" data-price="5000" data-color="pink">
                    <img class="rounded orange" src="/assets/orange.jpg" data-price="6000" data-color="orange">
                    <img class="rounded marble" src="/assets/yellow.jpg" data-price="7000" data-color="yellow">
                    <img class="rounded red" src="/assets/red.jpg" data-price="8000" data-color="red">
                    <img class="rounded white" src="/assets/white.jpg" data-price="9000" data-color="white">
                    <img class="rounded silver" src="/assets/silver.jpg" data-price="10000" data-color="gray">
                </div>
            </div>
            <div class="w-tab-pane w--tab-active goumy" data-w-tab="Tab 2">
                <div class="w-container image_container tires_container">
                    <img class="rounded tire_first" src="/assets/tire1.png" data-price="1000" data-tire="1">
                    <img class="rounded tire_second" src="/assets/tire2.png" data-price="2000" data-tire="2">
                    <img class="rounded tire_third" src="/assets/tire3.png" data-price="3000" data-tire="3">
                    <img class="rounded tire_fourth" src="/assets/tire4.png" data-price="4000" data-tire="4">
                    <img class="rounded tire_fifth" src="/assets/tire5.png" data-price="5000" data-tire="5">
                    <img class="rounded tire_sixth" src="/assets/tire6.png" data-price="6000" data-tire="6">
                </div>
            </div>
            <div class="w-tab-pane order_rest" data-w-tab="Tab 3"></div>
        </div>
        <div class="w-tab-menu">
            <a class="w-tab-link w-inline-block tab_link first" data-w-tab="Tab 1">
                <div>Paint</div>
            </a>
            <a class="w-tab-link w-inline-block tab_link second" data-w-tab="Tab 2">
                <div>Wheels</div>
            </a>
            <a class="w-tab-link w-inline-block tab_link rest" data-w-tab="Tab 3"><div>Order rest</div></a>
        </div>
    </div>
</div>

<div class="w-section second_section">
    <div class="w-container">
        <div class="w-row row">
            <div id="start" class="w-col w-col-8 w-col-small-6 w-col-tiny-6 choose">
                <div
                data-step="1" class="w-row step">
                    <div class="w-col w-col-4 step1col1">
                        <div class="selectable _70d" data-price="40000">
                            <div class="header"><img src="/assets/5665192e66074549549f9465_ui_option_battery_70d%402x.png">
                                <h5>70 kWh Battery</h5>
                                <h5 class="gosh">All_Wheel Drive</h5></div>
                            <div class="text"><strong>240 </strong>miles range (EPA)</div>
                            <div class="text"><strong>5.2</strong> second 0-60 mph</div>
                            <div class="text"><strong>140 </strong>mph top speed</div>
                        </div>
                    </div>
                    <div class="w-col w-col-4 step1col2">
                        <div class="selectable _70d selected" data-price="50000" >
                            <div class="header"><img src="/assets/566519fe9af1fac41c2fc989_ui_option_battery_85d%402x.png">
                                <h5>85 kWh Battery</h5>
                                <h5 class="gosh">All-Wheel Drive</h5></div>
                            <div class="text"><strong>270</strong> miles range (EPA)</div>
                            <div class="text">90 kWh upgrade adds</div>
                            <div class="text">about 6% more range</div>
                            <div class="text"><strong>4.2 </strong>seconds 0-60 mph</div>
                            <div class="text"><strong>155</strong> mph top speed</div>
                        </div>
                    </div>
                    <div class="w-col w-col-4 step1col3">
                        <div class="selectable _70d" data-price="60000">
                            <div class="header"><img src="/assets/56651aacf201c6c51c57120f_ui_option_battery_p85d%402x.png">
                                <h5>85 kWh Battery Performance</h5>
                                <h5 class="gosh">All-Wheel Drive</h5></div>
                            <div class="text"><strong>253&nbsp;</strong>miles range (EPA)</div>
                            <div class="text">90 kWh upgrade adds</div>
                            <div class="text">about 6% more range</div>
                            <div class="text"><strong>3.1&nbsp;</strong>seconds 0-60 mph</div>
                            <div class="text"><strong>2.8 </strong>seconds with Ludicrous Speed Upgrade</div>
                            <div class="text"><strong>155 mph top speed</strong></div>
                        </div>
                    </div>
            </div>
            <h3 class="inbetweetn_header">Drive</h3>
            <div data-step="2" class="w-row step">
                <div class="w-col w-col-6">
                    <div class="selectable drive rear_wheel" data-price="2500"><img src="/assets/5668f52a29418b1d73a99e57_rear.jpg" class="rear">
                        <div>Rear Wheel Drive</div>
                    </div>
                </div>
                <div class="w-col w-col-6">
                    <div class="selectable drive all_wheel" data-price="7500"><img src="/assets/5668f52af19e1cc857bb7afc_both.jpg" class="both">
                        <div>All-Wheel Drive + $5,000</div>
                    </div>
                </div>
            </div>
            <div class="standad_equipment">
                <h3 class="equipment_header">Standard Equipment</h3>
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="equipment_col">
                            <ul class="ul_list">
                                <li>
                                    <div>Free long distance travel on the Supercharger network</div>
                                </li>
                                <li>
                                    <div>Automatic keyless entry</div>
                                </li>
                                <li>
                                    <div>Parking sensors</div>
                                </li>
                                <li>
                                    <div>Power-folding and heated side mirrors</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="equipment_col2">
                            <ul class="ul_list">
                                <li>
                                    <div>Maps and navigation with real time traffic updates</div>
                                </li>
                                <li>
                                    <div>Daytime running lights</div>
                                </li>
                                <li>
                                    <div>Blind spot warning</div>
                                </li>
                                <li>
                                    <div>Automatic emergency braking</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="equipment_col3">
                            <ul class="ul_list">
                                <li>
                                    <div>8 year, infinite mile battery and drive unit warranty</div>
                                </li>
                                <li>
                                    <div>GPS enabled Homelink</div>
                                </li>
                                <li>
                                    <div>Lane departure warning</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="equipment_header">Options</h3></div>
            <div data-price="2500" class="single_selectable autopilot">
                <div class="w-row">
                    <div class="w-col w-col-6 autopilot_col1">
                        <h4 class="options_heading">Autopilot Convenience Features</h4>
                        <p>Autopilot allows Model S to steer within a lane,&nbsp;
                            <br>change lanes with the simple tap of a turn signal, and manage speed by using active, traffic-aware cruise control. Your car can also scan for a parking space, alert you when one is available, and parallel park on command.</p>
                        <div
                        class="divider"></div>
                    <div class="options-price">&nbsp;<strong>+ $2,500</strong></div>
                    <div class="options_additional">Enable after deliver for $3,000</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="204" src="/assets/56692c4af19e1cc857bb90ec_ui_option_da02_1.jpg"></div>
            </div>
        </div>
        <div data-price="3500" class="single_selectable range_upgrade">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Range upgrade</h4>
                    <p>Upgrade your Model S to a 90 kWh battery for maximum range. Available as an option on all cars equipped with both all-wheel drive and 85 kWh batteries, this upgrade increases range by about 6%.</p>
                    <div class="divider"></div>
                    <div class="options-price">&nbsp;<strong>+ $3,500</strong></div>
                    <div class="options_additional">Requires 85 kWh Battery and All-Wheel Drive</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2">
                    <div class="_90d">90 D</div>
                </div>
            </div>
        </div>
        <div data-price="3000" class="single_selectable interior_lighting">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Premium Interior and Lighting</h4>
                    <p>Elevate your Model S to the next level with a series of fit and finish refinements throughout the interior. This package includes:</p>
                    <ul class="ul_list">
                        <li>
                            <div>Free long distance travel on the Supercharger network</div>
                        </li>
                        <li>
                            <div>Automatic keyless entry</div>
                        </li>
                        <li>
                            <div>Parking sensors</div>
                        </li>
                        <li>
                            <div>Power-folding and heated side mirrors</div>
                        </li>
                    </ul>
                    <div class="divider lighting"></div>
                    <div class="options-price">&nbsp;<strong>+ $3,000</strong></div>
                    <div class="options_additional">Includes your choice of Alcantara headliner</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="195" src="/assets/5669303f29418b1d73a9b4b3_ui_option_premium_medium.jpg"></div>
            </div>
        </div>
        <div data-price="2500" class="single_selectable air_suspension">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Smart Air Suspension</h4>
                    <p>Automatically adjusts stiffness for optimum performance and ride regardless of road surface or cargo. Location aware, the air suspension automatically re-applies manual settings each time it nears previous GPS coordinates, particularly
                        useful for steep driveways.</p>
                    <div class="divider lighting"></div>
                    <div class="options-price">&nbsp;<strong>+ $2500</strong></div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="200" src="/assets/566931c7f3b9e42673eed842_ui_option_active_air_suspension_1_medium.jpg"></div>
            </div>
        </div>
        <div data-price="2500" class="single_selectable sound">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Ultra High Fidelity Sound</h4>
                    <p>Envelop the cabin in a concert hall like environment that uses 12 precisely positioned speakers to accurately reproduce sound and deliver it directly to passengers' ears. The package includes:</p>
                    <ul class="ul_list">
                        <li>
                            <div>XM satellite radio capability</div>
                        </li>
                        <li>
                            <div>12 speakers with neodymium magnets including an 8" subwoofer</div>
                        </li>
                    </ul>
                    <div class="divider lighting"></div>
                    <div class="options-price">&nbsp;<strong>+ $2500</strong></div>
                    <div class="options_additional">XM satellite antenna is only compatible with the ALL Glass Panoramic Roof</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="183" src="/assets/566933a5084832cd576764a2_ui_option_sound_package_ultra_high_1_medium.jpg"></div>
            </div>
        </div>
        <div data-price="1000" class="single_selectable weather">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Subzero Weather Package</h4>
                    <p>Improve cold-weather comfort and convenience by adding:</p>
                    <ul class="ul_list">
                        <li>
                            <div>3 zone rear seat heaters</div>
                        </li>
                        <li>
                            <div>Wiper blade defrosters</div>
                        </li>
                        <li>
                            <div>Washer nozzle heaters</div>
                        </li>
                        <li>
                            <div>Heated steering wheel</div>
                        </li>
                    </ul>
                    <div class="divider lighting"></div>
                    <div class="options-price">&nbsp;<strong>+ $1000</strong></div>
                    <div class="options_additional">Recommended for climates where temperatures regularly fall well below freezing</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="190" src="/assets/5669346ff3b9e42673eedb88_ui_option_cw02_1_medium.jpg"></div>
            </div>
        </div>
        <div data-price="3000" class="single_selectable seats">
            <div class="w-row">
                <div class="w-col w-col-6 autopilot_col1">
                    <h4 class="options_heading">Rear Facing Seats</h4>
                    <p>Carry up to 7 passengers in Model S by adding seating for two children with rear facing seats. Engineered to far exceed federal safety standards, they attach to a second frame that augments our standard bumper with high strength aluminum
                        for the utmost protection. These comfortable seats are hand wrapped in black microfiber and fold completely flat into the floor when not in use.</p>
                    <div class="divider lighting"></div>
                    <div class="options-price">&nbsp;<strong>+ $3000</strong></div>
                    <div class="options_additional">Must be factory installed</div>
                </div>
                <div class="w-col w-col-6 autopilot_col2"><img width="180" src="/assets/5669356729418b1d73a9b94b_ui_option_rear_seats_2_medium.jpg"></div>
            </div>
        </div>
    </div>
    <div class="w-col w-col-4 w-col-small-6 w-col-tiny-6 price_collumn">
        <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs">
            <div class="w-tab-menu">
                <a id="order" data-w-tab="Tab 1" class="w-tab-link w-inline-block w--current tab_link price_discovery">
                    <div>Cash</div>
                </a>
                <a data-w-tab="Tab 2" class="w-tab-link w-inline-block tab_link second_tab price_discovery">
                    <div>Lease</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active cash_tab">
                    <div class="cash">
                        <div class="before_savings_block">
                            <h2 class="price_result">$50000</h2>
                            <div class="after">Cash Price</div>
                        </div>
                        <div class="divider"></div>
                        <div class="incentives_block">
                            <div class="incentive_price">-$7,500</div>
                            <div class="incentive_description">Federal Tax Credit</div>
                            <div>-$6,000</div>
                            <div class="incentive_description">Particular state incentive</div>
                            <div>-$8,000</div>
                            <div class="incentive_description">Estimated gas savings over 5years</div>
                        </div>
                        <div class="divider"></div>
                        <div class="after_savings_block">
                            <h2 class="price_after_savings">$66000</h2>
                            <div class="after">After Incentives &amp; Gas Savings</div>
                            <div>+ $1,200</div>
                            <div>Destination &amp; Doc Fee</div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane lease_tab">
                    <div class="lease_div">
                        <div>This option is currently unavailable.
                            <br>
                            <br>We apologize for the inconvenience this may have not caused.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy_button">
            <a href="#" data-ix="new-interaction" class="w-inline-block buy">
                <div class="buy_text">Let´s do this!</div>
            </a>
        </div>
    </div>
</div>
</div>
</div>


<script>

$(document).ready(function() {
    
    $('.selectable').click(function() {
        
        var step_number = +$(this).first().parent().parent().attr('data-step');
        $('.step[data-step = ' + step_number + ']').children().children().removeClass('selected');
        $(this).addClass('selected');
        
        calculate_price();
    });

    $('.price_collumn').pin({minWidth: 940});
    
    $('.rest').click(function(){
        $('html, body').animate({scrollTop: $('#start').offset().top}, 300);
    })
    
    $('.chassis_container').children().click(function() {
        $('.chassis_container').children().removeClass('selected');
        $(this).addClass('selected');
    });

    $('.tires_container').children().click(function() {
        $('.tires_container').children().removeClass('selected');
        $(this).addClass('selected');
        calculate_price();
    });

    $('.single_selectable').click(function() {
        $(this).toggleClass('selected');
        calculate_price();
    });

    $('.chassis_container').children().click(function() {
        var color = $(this).attr('data-color');
        var tire = $('.tires_container').children().filter('.selected').attr('data-tire');
        if (tire === undefined) {
            tire = "1";
        } else {
            tire = $('.tires_container').children().filter('.selected').attr('data-tire');
        }
        $("#image").reel("images", "/assets/Animated_all/" + color + "/" + color + "_" + tire + "_tire/" + "frame_##.jpg");
        calculate_price();
    });

    $('.tires_container').children().click(function() {
        var tire = $(this).attr('data-tire');
        var color = $('.chassis_container').children().filter('.selected').attr('data-color');
        if (color === undefined) {
            color = "pink";
        } else {
            color = $('.chassis_container').children().filter('.selected').attr('data-color');
        }
        $("#image").reel("images", "/assets/Animated_all/" + color + "/" + color + "_" + tire + "_tire/" + "frame_##.jpg");
        calculate_price();
    });

    function calculate_price() {
        var price = 0;
        for (var i = 0; i < $('.selected').length; i++) {
            price += parseInt($('.selected')[i].getAttribute('data-price'), 10);
        }

        $('.price_result').html('$' + price);
        
        var after = price - 21500
        $(".price_after_savings").html("$"+ after);

    }
    
});
</script>